<form formGroup="formLogin">
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <div class="form-check">
        <label class="form-check-label">
          <b>Acesso</b>
        </label>
        <div class="content pt-24" fxLayout="row">
          <mat-form-field fxFlex="25">
            <input type="text" formControlName="login" placeholder="Login" matInput>
            <mat-error
            *ngIf="formLogin.controls['nome'].invalid && formLogin.controls['nome'].hasError('required')">{{'*'}}
         </mat-error>
          </mat-form-field>
        </div>
        <div class="content pt-24" fxLayout="row">
          <mat-form-field fxFlex="25">
            <input type="password" formControlName="senha" placeholder="Senha" matInput>
          </mat-form-field>
          <mat-error
          *ngIf="formLogin.controls['nome'].invalid && formLogin.controls['nome'].hasError('required')">{{'*'}}
       </mat-error>
        </div>
      </div>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary acessar-conta" (click)="login()">Acessar</button>
    </div>
  </div>
</form>
