<form fxLayout="column" [formGroup]="formOperador">

  <div class="content pt-24" fxLayout="row">
    <mat-form-field fxFlex="25">
      <input type="text" formControlName="nome" placeholder="Nome" matInput required>
      <mat-error
         *ngIf="formOperador.controls['nome'].invalid && formOperador.controls['nome'].hasError('required')">{{'*'}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="content pt-24" fxLayout="row">
    <mat-form-field fxFlex="25">
      <input type="text" formControlName="login" placeholder="Login" matInput>
      <mat-error
      *ngIf="formOperador.controls['login'].invalid && formOperador.controls['login'].hasError('required')">{{'*'}}
   </mat-error>
    </mat-form-field>
  </div>
  <div class="content pt-24" fxLayout="row">
    <mat-form-field fxFlex="25">
      <input type="password" formControlName="senha" placeholder="Senha" matInput>
    </mat-form-field>
    <mat-error
    *ngIf="formOperador.controls['senha'].invalid && formOperador.controls['senha'].hasError('required')">{{'*'}}
 </mat-error>
  </div>
  <div class="content pt-24" fxLayout="row">
    <mat-radio-group fxFlex="30" id="perfil" formControlName="perfil" layout="row" required>
      <mat-radio-button class="margin-right-5px" *ngFor="let item of listaOp"
        [value]="item.value">
        {{item.nome}}
      </mat-radio-button>
      <mat-error
         *ngIf="formOperador.controls['perfil'].invalid && formOperador.controls['perfil'].hasError('required')">{{'*'}}
      </mat-error>
    </mat-radio-group>

  </div>

  <div class="content pt-24" fxLayout="row">
    <button id="btSalvar" mat-raised-button class="secondary" (click)="salvar()" type="submit">Cadastrar</button>
  </div>


</form>

