<form fxLayout="column" [formGroup]="formPessoa" >

  <div class="content pt-24" fxLayout="row">
    <mat-form-field fxFlex="25">
      <input type="text" formControlName="nome" placeholder="Nome" matInput required>
      <mat-error
         *ngIf="formPessoa.controls['nome'].invalid && formPessoa.controls['nome'].hasError('required')">{{'*'}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="content pt-24" fxLayout="row">
    <mat-form-field fxFlex="25">
      <input type="date" formControlName="dtNascimento" placeholder="Data de Nascimento" matInput mask="00/00/0000" required>
      <mat-error
         *ngIf="formPessoa.controls['dtNascimento'].invalid && formPessoa.controls['dtNascimento'].hasError('required')">{{'*'}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="content pt-24" fxLayout="row">
    <mat-form-field fxFlex="25">
      <input type="text" formControlName="nomeMae" placeholder="Nome da mãe" matInput>
    </mat-form-field>
  </div>
  <div class="content pt-24" fxLayout="row">
    <mat-form-field fxFlex="25">
      <input type="text" formControlName="nomePai" placeholder="Nome do pai" matInput>
    </mat-form-field>
  </div>
  <div class="content pt-24" fxLayout="row">
    <mat-radio-group fxFlex="30" id="tipoPessoa" formControlName="tipoPessoa" layout="row" required>
      <mat-radio-button class="margin-right-5px" *ngFor="let item of listaTipo"
        [value]="item.value">
        {{item.nome}}
      </mat-radio-button>
      <mat-error
         *ngIf="formPessoa.controls['tipoPessoa'].invalid && formPessoa.controls['tipoPessoa'].hasError('required')">{{'*'}}
      </mat-error>
    </mat-radio-group>

  </div>
  &nbsp;&nbsp;
  <div class="content pt-24" fxLayout="row">
    <mat-form-field *ngIf="selecionaDocumento()==2" fxFlex="50">
      <input formControlName="documento" placeholder="CPF" matInput mask="000.000.000-00" required>
      <mat-error
         *ngIf="formPessoa.controls['documento'].invalid && formPessoa.controls['documento'].hasError('required')">{{'*'}}
      </mat-error>
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field *ngIf="selecionaDocumento()==1" fxFlex="25">
      <input formControlName="documento" placeholder="CNPJ" matInput mask="00.000.000.0000-00" required>
      <mat-error
         *ngIf="formPessoa.controls['documento'].invalid && formPessoa.controls['documento'].hasError('required')">{{'*'}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="content pt-24" fxLayout="row">
    <button id="btSalvar" mat-raised-button class="secondary" (click)="salvar()" type="submit">Cadastrar</button>
  </div>


</form>
